<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxp.player">

    <!-- 请求访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 请求访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--简单播放 Begin-->
        <activity android:name=".simple.SimpleActivity" />
        <activity
            android:name=".simple.SimplePlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Full" />
        <activity
            android:name=".simple.SimpleListPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".simple.SimpleListWinPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".simple.SimpleDetailOneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".simple.SimpleDetailTwoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--简单播放 End-->

        <!--基本播放 Begin-->
        <activity
            android:name=".system.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!--基本播放 End-->

        <!--控制播放 Begin-->
        <activity
            android:name=".system.ControlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!--控制播放 End-->

        <!--广告播放 Begin-->
        <activity
            android:name=".system.ADActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--广告播放 End-->

        <!--无缝加载 Begin-->
        <activity
            android:name=".system.SmartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--无缝加载 End-->

        <!--进度小图预览 Begin-->
        <activity
            android:name=".system.PreViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--进度小图预览 End-->

        <!--播放下一集 Begin-->
        <activity
            android:name=".system.PlayNextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--播放下一集 End-->

        <!--列表播放 Begin-->
        <activity android:name=".list.ListActivity" />
        <!--列表自动播放 Begin-->
        <activity
            android:name=".list.AuToListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--列表自动播放 End-->
        <!--列表多任务播放 Begin-->
        <activity
            android:name=".list.MultiListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--列表多任务播放 End-->
        <!--列表带广告播放 Begin-->
        <activity
            android:name=".list.AdListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--列表带广告播放 End-->
        <!--列表播放 End-->

        <!--弹幕播放 Begin-->
        <activity
            android:name=".system.DanmakuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <!--弹幕播放 End-->

        <!--宽屏适配-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
    </application>

</manifest>